################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GreeterActorConsoleUI/obj/Debug
/GreeterActorConsoleUI/bin/Debug
/GreeterActorConsoleUI/.vs/GreeterActorConsoleUI/v14
